html {
  scroll-behavior: smooth;
}

body {
  margin: 0 325px 0 325px;
}

#header {
  background-color: #fff;
  height: 10rem;
  width: 70%;
}

.admin-logo {
  width: 10rem;
  padding-left: 45px;
}

.admin-logout {
  width: 70px;
  padding: 0.3rem;
  color: black;
  background: transparent;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  right: 25em;
  top: 2em;
}

#row {
  display: flex;
  flex-direction: row;
  border-top: 3px solid rgba(220, 220, 220, 0.438);
}

.col-4 {
  display: flex;
  flex-direction: column;
  color: black;
  margin-top: 80px;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
  display: flex;
}

a:hover {
  background: #d8eef6;
}

#admin-sidebar {
  width: 250px;
  padding: 50px 0 50px 0;
  background-color: #c2eaec;
}

#admin-sidebar > nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 40px;
  font-weight: bolder;
}

#admin-sidebar > nav > nav {
  padding-left: 70px;
}

.col-8 {
  padding: 30px 20px 50px 150px;
}

h2,
h3 {
  text-align: center;
  margin-top: 50px;
}

h4 {
  text-align: center;
  margin: 10px 0 10px 0;
}

#item-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#dashboard1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
}

.tg {
  border-collapse: collapse;
  border: 1px solid #bbb;
  border-spacing: 0;
}

.tg .tg-selti {
  background-color: #f7e8e8;
  border: 1px solid #bbb;
  color: #493f3f;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  padding: 10px 12px;
}

.tg .tg-db-lineodd {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #bbb;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 12px;
  vertical-align: top;
}

.tg .tg-db-lineeven {
  background-color: #e8f7ff;
  text-align: center;
  border: 1px solid #bbb;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 12px;
  vertical-align: top;
}

#dashboard2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#item-1-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#sth-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 300px;
}

#sth-manage2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;

  border-radius: 1em;
  color: black;
  width: 700px;
  height: 500px;
  margin-bottom: 50px;
}

#item-1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#category-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 500px;
  margin-bottom: 50px;
}

#category-manage2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 600px;
  height: 100px;
}

#item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-2-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#order-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 500px;
  margin-bottom: 50px;
}

#del-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 500px;
  margin-bottom: 50px;
}

#item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-3-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-3-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-3-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#ppl-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 500px;
  margin-bottom: 50px;
}

#qna-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 500px;
  margin-bottom: 50px;
}

#review-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 500px;
  margin-bottom: 50px;
}

#item-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#uparrow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: gainsboro;
  opacity: 0.7;
}

#uparrow:hover {
  background: white;
}
