html {
  scroll-behavior: smooth;
}

body {
  margin: 0 325px 0 325px;
}

#header {
  background-color: #fff;
  height: 10rem;
  width: 70%;
}

.admin-logo {
  width: 10rem;
  padding-left: 6%;
}

.admin-logout {
  width: 70px;
  padding: 0.3rem;
  color: black;
  background: transparent;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  right: 25em;
  top: 2em;
}

#row {
  display: flex;
  flex-direction: row;
  border-top: 3px solid rgba(220, 220, 220, 0.438);
}

.col-4 {
  display: flex;
  flex-direction: column;
  color: black;
  margin-top: 80px;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

.nav-link {
  outline: none;
  text-decoration: none;
  color: black;
  display: flex;
}

.nav-link:hover {
  background: #d8eef6;
}

#admin-sidebar {
  width: 250px;
  padding: 50px 0 50px 0;
  background-color: #c2eaec;
}

#admin-sidebar > nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-weight: bolder;
}

.nav > div > a {
  padding-left: 50px;
}

#admin-sidebar > nav > nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-weight: bolder;
}

.col-8 {
  padding: 30px 20px 50px 150px;
}

h2,
h3 {
  text-align: center;
  margin-top: 50px;
}

h4 {
  text-align: center;
  margin: 10px 0 10px 0;
}

#item-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#dashboard1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 350px;
}

.tg {
  border-collapse: collapse;
  border: 1px solid #bbb;
  border-spacing: 0;
}

.tg .tg-selti {
  background-color: #f7e8e8;
  border: 1px solid #bbb;
  color: #493f3f;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  padding: 10px 12px;
}

.tg .tg-qnamanage {
  background-color: #f7e8e8;
  border: 1px solid #bbb;
  color: #493f3f;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  padding: 10px 12px;
}

.tg .tg-db-lineodd {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #bbb;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 12px;
  vertical-align: top;
}

.tg .tg-db-lineeven {
  background-color: #e8f7ff;
  text-align: center;
  border: 1px solid #bbb;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 12px;
  vertical-align: top;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.page-item {
  padding: 0 5px 0 5px;
  margin: 0 2px 0 2px;
  border: 1px solid #d8eef6;
  border-radius: 0.3rem;
}

#dashboard2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 350px;
  margin-bottom: 50px;
}

#item-1-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#sth-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#regi-before {
  display: flex;
  flex-direction: row;
}

#sell-regi {
  display: none;
}

#sell-regi.add {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 900px;
  margin-bottom: 100px;
}

#regi-category-big {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
#regi-category-big > li {
  padding: 10px;
}
#regi-dropdown-category {
  display: none;
  width: 130px;
  right: 150px;
  top: -2px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

#regi-category-big:hover #regi-dropdown-category {
  display: block;
}
.regi-dropdown-item a {
  display: flex;
  justify-content: space-between;
}

#regi-category-small {
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
#regi-category-small > li {
  padding: 10px;
}
#regi-dropdown-category-s {
  display: none;
  width: 130px;
  right: 150px;
  top: -2px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}
#regi-category-small:hover #regi-dropdown-category-s {
  display: block;
}
.regi-s-dropdown-item a {
  display: flex;
  justify-content: space-between;
}

#pojang {
  width: 5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  top: 1.8rem;
  right: 11.5rem;
  border: 1px solid #aaa;
  border-radius: 2px;
  background: transparent;
  font-size: 0.9rem;
}

#item-1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#category-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#category-manage2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 600px;
  height: 100px;
}

#category-big {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
#category-big > li {
  padding: 10px;
}
#dropdown-category {
  display: none;
  width: 130px;
  right: -130px;
  top: -2px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

#category-big:hover #dropdown-category {
  display: block;
}
.dropdown-item a {
  display: flex;
  justify-content: space-between;
}

#bigcatip {
  display: none;
}

#b-cat-save {
  display: none;
}

.bigdirinput {
  display: block;
}

.bigdirsave {
  display: block;
}

#item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-2-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#order-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#del-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-3-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-3-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-3-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#ppl-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

.qna {
  display: block;
}

#qna-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#review-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#item-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.active {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: gainsboro;
  opacity: 0.3;
}

#uparrow:hover {
  background: white;
}
