html {
  scroll-behavior: smooth;
}

body {
  margin: 0 10% 0 10%;
}

#header {
  background-color: #fff;
  height: 10rem;
  width: 70%;
}

.admin-logo {
  width: 15%;
  padding-left: 6%;
}

.puppies {
  width: 18%;
  padding-left: 45%;
}

.admin-logout {
  width: 5%;
  padding: 0.3rem;
  color: black;
  background: transparent;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  right: 10%;
  top: 3%;
}

#row {
  display: flex;
  flex-direction: row;
  border-top: 3px solid rgba(220, 220, 220, 0.438);
}

.col-4 {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 7% 5% 0 0;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

.nav-link {
  outline: none;
  text-decoration: none;
  color: black;
  display: flex;
  padding: 3% 0 3% 0;
}

.nav-link:hover {
  background-image: linear-gradient(
    to right,
    #ffca28 0%,
    #f8bbd0 51%,
    #ffca28 100%
  );
  background-position: right center;
}

#admin-sidebar {
  width: 13em;
  padding: 30% 0 30% 0;
  margin: 0 10% 0 5%;
  background-color: #c2eaec;
}

#admin-sidebar > nav {
  display: flex;
  flex-direction: column;
  row-gap: 60%;
  font-weight: bolder;
}

.nav > div > a {
  padding-left: 20%;
}

#admin-sidebar > nav > nav {
  display: flex;
  flex-direction: column;
  row-gap: 60%;
  font-weight: bolder;
}

.col-8 {
  padding-top: 3%;
  margin: 0 20% 0 5%;
}

h2,
h3 {
  text-align: center;
  margin-top: 50px;
}

h4 {
  text-align: center;
  margin: 10px 0 10px 0;
}

#item-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.tg {
  border-collapse: collapse;
  border: 1px solid #bbb;
  border-spacing: 0;
}

.tg .tg-selti {
  background-color: #e8f7ff;
  border: 1px solid #bbb;
  color: #493f3f;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  padding: 10px 12px;
}

.tg .tg-qnamanage {
  background-color: #e8f7ff;
  border: 1px solid #bbb;
  color: #493f3f;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  padding: 10px 12px;
}

.tg .tg-db-lineodd {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #bbb;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 12px;
  vertical-align: top;
  white-space: nowrap;
}

.tg .tg-db-lineeven {
  background-color: #f7e8e898;
  text-align: center;
  border: 1px solid #bbb;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 12px;
  vertical-align: top;
  white-space: wrap;
}
.tg .tg-db-lineeven:not(:nth-child(2)) {
  white-space: nowrap;
}
#sth-manage1 .tg button {
  width: 100% !important;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.page-item {
  padding: 0 5px 0 5px;
  margin: 0 2px 0 2px;
  border: 1px solid #d8eef6;
  border-radius: 0.3rem;
}

#item-1-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#sth-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 120%;
  margin-bottom: 50px;
  max-height: 800px;
  overflow-y: scroll;
}

#sth-manage2 {
  height: 500px;
  overflow-y: hidden;
}

.fa-person-skiing {
  width: 10%;
}

#regi-before {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

#sell-regi {
  display: none;
}

#sell-regi.add {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 900px;
  margin-bottom: 100px;
}

#regi-category-big {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
#regi-category-big > li {
  padding: 10px;
}
#regi-dropdown-category {
  display: none;
  width: 130px;
  right: 150px;
  top: -2px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

#regi-category-big:hover #regi-dropdown-category {
  display: block;
}
.regi-dropdown-item a {
  display: flex;
  justify-content: space-between;
}

#pojang {
}

#item-1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#category-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 55vw;
  height: 40vh;
  margin-bottom: 50px;
}

#category-manage2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 600px;
  height: 100px;
}

#category-big {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
#category-big > li {
  padding: 10px;
}
#dropdown-category {
  display: none;
  width: 130px;
  right: -130px;
  top: -2px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

#category-big:hover #dropdown-category {
  display: block;
}
.dropdown-item a {
  display: flex;
  justify-content: space-between;
}

#bigcatip {
  display: none;
}

#b-cat-save {
  display: none;
}

.bigdirinput {
  display: block;
}

.bigdirsave {
  display: block;
}

#item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-2-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#order-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#del-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-3-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-3-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#item-3-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

#ppl-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

.qna {
  display: block;
}

#qna-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

.now {
  display: block;
}

#review-manage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gainsboro;
  border-radius: 1em;
  color: black;
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
}

#item-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.active {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: gainsboro;
  opacity: 0.3;
}

/* #sth-manage1 {
  display: none;
}

.product-active {
  display: block;
  justify-content: center;
  align-items: center;
} */

#uparrow:hover {
  background: white;
}
