#serviceCenter_contents {
  display: flex;
  justify-content: center;
  padding: 50 0 50 0px;
}
#serviceCenter_contents_center {
  width: 1050px;
  display: flex;
  justify-content: space-between;
}
#serviceCenter_sidebar {
  width: 20%;
}
#serviceCenter_sidebar_title {
  margin-bottom: 40px;
}
#serviceCenter_sidebar_list {
  border: 1px solid gainsboro;
  padding-inline-start: 0px;
  cursor: pointer;
}

#serviceCenter_sidebar_list > li {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
#serviceCenter_sidebar_list span {
  color: #999;
}
#serviceCenter_sidebar_list a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.path1 {
  fill: #999;
}
#serviceCenter_sidebar_list > li:hover {
  background-color: #c2eaec;
  color: #000;
}

#serviceCenter_sidebar_list_item_2 {
  border-top: 1px solid gainsboro;
}
#serviceCenter_main {
  width: 75%;
}
#serviceCenter_main_title {
  display: flex;
  margin-bottom: 20px;
}
#serviceCenter_main_title span {
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
#serviceCenter_main_stylized {
  display: flex;
  text-align: center;
  padding: 15px 0px;
  border-top: 2px black solid;
  border-bottom: 1px black solid;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
}
#serviceCenter_main_stylized :first-child {
  width: 10%;
}
#serviceCenter_main_stylized :nth-child(2) {
  width: 60%;
}
#serviceCenter_main_stylized :nth-child(3) {
  width: 15%;
}
#serviceCenter_main_stylized :last-child {
  width: 15%;
}
#noticeList {
  width: 100%;
}
#noticeList_PlaceHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  text-align: center;
  border-bottom: lightgrey solid 1px;
}

.noticeList_item {
  display: flex;
  text-align: center;
  padding: 15px 0px;
  border-top: 2px black solid;
  border-bottom: 1px black solid;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
}
.noticeList_item :first-child {
  width: 10%;
}
.noticeList_item :nth-child(2) {
  width: 60%;
}
.noticeList_item :nth-child(3) {
  width: 15%;
}
.noticeList_item :last-child {
  width: 15%;
}
