body {
  height: 100%;
}
#footer {
  border-top: 1px solid rgb(247, 247, 247);
  padding-top: 30px;
  margin-top: 30px;
}
#footer_top {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
#footer_top_center {
  width: 1050px;
  display: flex;
  justify-content: space-between;
}
#footer_top_left_2 > h1 {
  display: inline;
}
.footer_top_left_3_div {
  display: flex;
  padding: 20 0 20 0px;
}
.footer_top_left_3_div_title {
  background-color: white;
  border: 1px solid gainsboro;
  font-size: 13px;
  font-weight: bold;
  width: 150px;
}
.footer_top_left_3_div_text {
  color: rgb(153, 153, 153);
  font-size: 13px;
  padding-left: 20px;
}
#footer_top_left_4 {
  font-size: 12px;
  color: rgb(153, 153, 153);
}
#footer_top_right_1 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 14px;
}
#footer_top_right_2 {
  line-height: 18px;
  font-size: 12px;
  color: rgb(153, 153, 153);
  padding-bottom: 30px;
}
#footer_top_right_2 > span {
  border-right: 1px solid gainsboro;
  margin: 0 5 5 0px;
}
#footer_top_right_2 > a {
  color: #131a51;
}
#footer_bottom {
  display: flex;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}
#footer_bottom_center {
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 20px;
  font-size: 10px;
  color: rgb(153, 153, 153);
  text-align: center;
}
