* {
  box-sizing: border-box;
  word-break: break-all;
  text-overflow: ellipsis;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
}
a {
  color: black;
  text-decoration: none;
}
input:focus {
  outline: none;
}
li {
  list-style-type: none;
}
.marketClearLogo {
  width: 110px;
}
.icon_small {
  width: 25px;
}
/* ---------------------------------------- */
#header {
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
  padding-top: 10px;
}
#header > div {
  margin: 0 auto;
}
#header_customers {
  display: flex;
  padding-top: 10px;
  justify-content: end;
  width: 1050px;
}

#header_customers_center {
  display: flex;
  justify-content: end;
  font-size: 14px;
}

#sign_up {
  border-right: 1px solid gainsboro;
  padding-left: 20px;
  padding-right: 20px;
}

#sign_in {
  border-right: 1px solid gainsboro;
  padding-left: 20px;
  padding-right: 20px;
}

#service_center {
  padding-left: 20px;
  position: relative;
}
#service_center_dropdown {
  display: none;
  width: 130px;
  right: 0px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 12px;
  font-weight: bold;
}
#service_center:hover #service_center_dropdown {
  display: block;
}

#service_center_dropdown_notice {
  padding-bottom: 10px;
}
#service_center_dropdown_QandA {
  padding-bottom: 10px;
}
#header_main {
  display: flex;
  justify-content: center;
}

#header_main_center {
  display: flex;
  width: 1050px;
  justify-content: space-between;
}

#header_logo {
  padding-right: 30px;
}

#search {
  border: 2px solid #c2eaec;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  margin: 30px;
}

#search_input {
  border: none;
  width: 500px;
}

#search_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header_icons {
  display: flex;
  padding-left: 30px;
}

#header_icons > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
#shipping_address {
  padding-right: 20px;
}
#dibs {
  padding-right: 20px;
}
#header_item {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#header_item_center {
  display: flex;
  justify-content: space-between;
  width: 1050px;
}
#category {
  display: flex;
  position: relative;
}
#category_menuicon {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#category_dropdown {
  display: none;
  width: 250px;
  left: 0px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 16px;
}
#category_dropdown > li {
  padding: 10px;
}
#category_dropdown_bonus {
  display: none;
  width: 130px;
  right: -130px;
  top: -2px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 12px;
  font-weight: bold;
}
#category_dropdown > li:hover #category_dropdown_bonus {
  display: block;
}
#category:hover #category_dropdown {
  display: block;
}
#category_dropdown a {
  display: flex;
  justify-content: space-between;
}
#header_list {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#header_list > div {
  padding-left: 30px;
  padding-right: 30px;
}

#shipping_info_text {
  border: 2px solid #c2eaec;
  border-radius: 20px;
  padding: 7px;
  font-weight: bold;
  font-size: 14px;
}
#header_scroll {
  margin: 0;
  top: 0;
  display: none;
  width: 100%;
  position: fixed;
  z-index: 10000;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
}
#header_scroll.on {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
#header_scroll_center {
  display: flex;
  width: 1050px;
  justify-content: space-between;
}
#header_scroll_center span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header_scroll_category {
  display: flex;
  position: relative;
}
#header_scroll_category_menuicon {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header_scroll_category_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header_scroll_category_dropdown {
  display: none;
  width: 250px;
  top: 25px;
  left: 0px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 16px;
}
#header_scroll_category_dropdown > li {
  padding: 10px;
}
#header_scroll_category_dropdown a {
  display: flex;
}
#header_scroll_category:hover #header_scroll_category_dropdown {
  display: block;
}
#header_scroll_category_dropdown_bonus {
  display: none;
  width: 130px;
  right: -130px;
  top: -2px;
  padding: 7px;
  background: white;
  position: absolute;
  border: 2px solid gainsboro;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
}
#header_scroll_category_dropdown
  > li:hover
  #header_scroll_category_dropdown_bonus {
  display: block;
}

#header_scroll_list {
  display: flex;
}
#header_scroll_list > div {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header_scroll_search {
  background-color: gainsboro;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  margin-top: 5px;
}

#header_scroll_search_input {
  border: none;
  background: none;
  width: 250px;
}

#header_scroll_search_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header_scroll_icons {
  display: flex;
}
#header_scroll_icons > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
