/* 메인 페이지에 대한 css 입니다. */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
  min-height: 100%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
/* ==========  */
/* @keyframes slide {
  0% {
    transform: translateX(1900px);
  }
  50% {
    transform: translateX(-1900px);
  }
  100% {
    transform: translateX(-3800px);
  }
} */

#main-slider {
  width: 100%;
  overflow: hidden;
}

#main-slider-img {
  display: flex;
  width: 698%;
}

#main-slider-img li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 370px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  /* position: relative; */
  /* left: 0px; */
  /* animation: slide 3s ease-in-out; */
}

#main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#main-slider-btn {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  top: 350px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btn-inner {
  display: flex;
  width: 1300px;
  justify-content: space-between;
}

.btn-inner img {
  display: none;
  cursor: pointer;
  width: 50px;
  opacity: 0.35;
}

#main-slider:hover img {
  display: flex;
  transition: 4s ease-in-out;
}
/* ===================== */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 5px;
  font-weight: 400;
}

#item-head {
  height: 170px;
}

#item-slider {
  width: 100%;
  margin: 0 650px;
  display: flex;
  justify-content: center;
}

#item-inner {
  display: flex;
  width: 1090px;
  height: 430px;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

#item-img {
  width: 249px;
  height: 320px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

#item-img a {
  width: 249px;
  overflow: hidden;
}

#item-img a > img {
  width: 249px;
  height: 320px;
  transition: all 0.5s ease-in-out;
}

#item-img:hover a > img {
  transform: scale(1.03);
}

#item-info {
  margin-top: 15px;
  padding-left: 20px;
}

#cart {
  position: relative;
  background-image: url("/imges/cart3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: rgba(180, 245, 254, 0.4);
  width: 20px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 100%;
  justify-content: center;
  align-content: center;
  padding: 15px;
  left: -320px;
  top: 260px;
  cursor: pointer;
}

#item-name {
  margin-top: 10px;
  cursor: pointer;
}

#price {
  font-weight: bolder;
  cursor: pointer;
}

#sub-slider-btn {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  top: 850px;
  left: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sub-btn-inner {
  display: flex;
  width: 1100px;
  justify-content: space-between;
}

.sub-btn-inner img {
  background-color: rgba(250, 250, 250);
  border: 1px solid rgba(130, 129, 129, 0.2);
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  width: 30px;
}

.sub-btn-inner img:hover {
  box-shadow: 1px 1px 3px #ccc;
  cursor: pointer;
}
/* ============= */

#banner {
  width: 100%;
  display: flex;
  justify-content: center;
}

#banner img {
  width: 1090px;
}

/* ============= */

#item-head p {
  color: rgb(135, 135, 135);
}

#item-head a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

#item-head img {
  width: 40px;
}

#sub-slider-btn2 {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  top: 1570px;
  left: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sub-btn-inner2 {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  align-items: center;
}

.sub-btn-inner2 img {
  background-color: rgba(250, 250, 250);
  border: 1px solid rgba(130, 129, 129, 0.2);
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  width: 30px;
}

.sub-btn-inner2 img:hover {
  box-shadow: 1px 1px 3px #ccc;
  cursor: pointer;
}

.sub-btn-inner2 p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  right: 520px;
  width: 90px;
}

.sub-btn-inner2 p > img {
  width: 30px;
  padding: 20px;
  margin-bottom: 8px;
}

#item-recommend ul {
  width: 1900px;
  display: flex;
  justify-content: center;
}

#item-recommend ul li {
  padding: 10 20px;
  background-color: rgb(233, 231, 231, 0.5);
  border-radius: 50px;
  margin: 5 5 20px;
}

#item-recommend ul li:hover {
  cursor: pointer;
  background-color: rgba(180, 245, 254, 0.2);
  color: rgb(109, 174, 182);
}

#sub-slider-btn3 {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  top: 2300px;
  left: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sub-btn-inner3 {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  align-items: center;
}

.sub-btn-inner3 img {
  background-color: rgba(250, 250, 250);
  border: 1px solid rgba(130, 129, 129, 0.2);
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  width: 30px;
}

.sub-btn-inner3 img:hover {
  box-shadow: 1px 1px 3px #ccc;
  cursor: pointer;
}

#sub-all-btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 40px;
  border: 1px solid rgba(155, 154, 154, 0.5);
  background-color: white;
  margin-bottom: 70px;
}

#sub-all-btn3:hover {
  cursor: pointer;
}
