input:focus {
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  padding-inline-start: 0px;
}
#myinfo_contents {
  display: flex;
  justify-content: center;
  padding: 50 0 50 0px;
}
#myinfo_contents_center {
  width: 1050px;
  display: flex;
  justify-content: space-between;
}
#myinfo_sidebar {
  width: 20%;
}
#myinfo_sidebar_title {
  margin-bottom: 40px;
}
#myinfo_sidebar_list {
  border: 1px solid gainsboro;
  padding-inline-start: 0px;
  cursor: pointer;
}

#myinfo_sidebar_list > li {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
#myinfo_sidebar_list span {
  color: #999;
}
#myinfo_sidebar_list a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.path1 {
  fill: #999;
}
#myinfo_sidebar_list > li:hover {
  background-color: #c2eaec;
  color: #000;
}

#myinfo_sidebar_list_item_2 {
  border-top: 1px solid gainsboro;
}
#myinfo_sidebar_list_item_3 {
  border-top: 1px solid gainsboro;
}
#myinfo_main {
  width: 75%;
}
#myinfo_main_orderhistory {
  display: none;
}
#myinfo_main_orderhistory.on {
  display: block;
}
#myinfo_main_orderhistory_title {
  display: flex;
  border-bottom: 2px solid black;
}
#myinfo_main_orderhistory_title span {
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
#myinfo_main_orderhistory_list {
  padding-inline-start: 0px;
}
#myinfo_main_orderhistory_list_none {
  display: none;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
#myinfo_main_orderhistory_list_none.on {
  display: block;
}
.myinfo_main_orderhistory_list_item {
  display: flex;
  padding: 20 0 20 0px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  /* margin: 10 0 10 0px; */
}

.myinfo_main_orderhistory_list_item_imgBox {
  width: 15%;
  padding-left: 20px;
}
.myinfo_main_orderhistory_list_item_img {
  width: 80%;
}
.myinfo_main_orderhistory_list_item_textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.myinfo_main_orderhistory_list_item_productName {
  padding-bottom: 5px;
  font-weight: bold;
}
.myinfo_main_orderhistory_list_item_countBox {
  display: flex;
  padding-top: 5px;
}
.myinfo_main_orderhistory_list_item_price {
  margin-right: 15x;
  font-size: 14px;
  font-weight: bold;
}
.myinfo_main_orderhistory_list_item_count {
  margin-left: 15px;
  font-size: 13px;
}
.myinfo_main_orderhistory_list_item_addressCreatedAtBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
.myinfo_main_orderhistory_list_item_address {
  padding-bottom: 5px;
  font-size: 14px;
}
.myinfo_main_orderhistory_list_item_createdAt {
  padding-top: 5px;
  font-size: 14px;
}
#myInfo_main_reviewInquire_title {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
#myinfo_main_reviewInquire_title_innerBox {
  display: flex;
  flex-direction: row;
}
#myinfo_main_reviewInquire_title_innerBox.on {
  flex-direction: row-reverse;
}
#myinfo_main_review {
  display: none;
}
#myinfo_main_review.on {
  display: block;
}
#myinfo_main_review_title {
  color: gainsboro;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_review_title.on {
  color: black;
  font-size: 25px;
}

#myinfo_main_review_tip {
  color: #999;
  padding-left: 10px;
  display: none;
}
#myinfo_main_review_tip.on {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_review_list {
  display: none;
}
#myinfo_main_review_list.on {
  display: block;
}

#myinfo_main_review_list_none {
  display: none;
}
#myinfo_main_review_list_none.on {
  display: block;
}

.myinfo_main_review_list_item {
  padding: 20 0 20 0px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
.myinfo_main_review_list_item_title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.myinfo_main_review_list_item_productName {
  font-size: 18px;
}
.myinfo_main_review_list_item_textBox {
  border: 1px solid gainsboro;
  padding: 20px;
  border-radius: 3px;
  background-color: #f6fbfa;
}
#myinfo_main_inquire_title {
  color: gainsboro;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_inquire_title {
  color: gainsboro;
  font-size: 18px;
}
#myinfo_main_inquire_title.on {
  color: black;
  font-size: 25px;
}

#myinfo_main_inquire_tip {
  color: #999;
  padding-left: 10px;
  display: none;
}
#myinfo_main_inquire_tip.on {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_inquire_list {
  display: none;
}
#myinfo_main_inquire_list.on {
  display: block;
}
#myinfo_main_inquire_list_none {
  display: none;
}
#myinfo_main_inquire_list_none.on {
  display: block;
}
.myinfo_main_inquire_list_item {
  padding: 10px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
.myinfo_main_inquire_list_item_title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.myinfo_main_inquire_list_item_ProductNameCreatedAtBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.myinfo_main_inquire_list_item_ProductName {
  font-size: 14px;
}
.myinfo_main_inquire_list_item_createdAt {
  font-size: 14px;
}
.myinfo_main_inquire_list_item_textBox {
  border: 1px solid gainsboro;
  border-radius: 3px;
  background-color: #f6fbfa;
  padding: 20px;
  display: none;
}
.myinfo_main_inquire_list_item_textBox.on {
  display: block;
}
#myinfo_main_infoupdate {
  display: none;
}
#myinfo_main_infoupdate.on {
  display: block;
}
#myinfo_main_infoupdate_title {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
#myinfo_main_infoupdate_title span {
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
#myinfo_main_infoupdate_list > div {
  padding: 10px;
}
#myinfo_main_infoupdate_list_id {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#myinfo_main_infoupdate_list_id_text {
  width: 150px;
  display: flex;
}
#myinfo_main_infoupdate_list_id_text_id {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#myinfo_main_infoupdate_list_id_input {
  border: 1px solid gainsboro;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
  background-color: #f2f2f2;
}
#myinfo_main_infoupdate_list_id_input_input {
  border: none;
  font-size: 18px;
  width: 100%;

  color: #999;
}

#myinfo_main_infoupdate_list_id_whitespace {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
}
#myinfo_main_infoupdate_list_id_reg {
  display: none;
}
#myinfo_main_infoupdate_list_id_reg_text {
  color: #2c3333;
  font-size: 12px;
}
#myinfo_main_infoupdate_list_id_reg.on {
  display: flex;
}
#myinfo_main_infoupdate_list_id_reg_text.okay {
  color: aquamarine;
}
.white_space1 {
  width: 150px;
}
.white_space2 {
  width: 120px;
}
#myinfo_main_infoupdate_list_pw {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#myinfo_main_infoupdate_list_pw_text {
  width: 150px;
  display: flex;
}
#myinfo_main_infoupdate_list_pw_text_pw {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_infoupdate_list_pw_input {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}
#myinfo_main_infoupdate_list_pw_input_input {
  border: none;
  width: 100%;
  font-size: 18px;
}
#myinfo_main_infoupdate_list_pw_whitespace {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
}

#myinfo_main_infoupdate_list_pw_reg {
  display: none;
}
#myinfo_main_infoupdate_list_pw_reg_text {
  color: #2c3333;
  font-size: 12px;
}
#myinfo_main_infoupdate_list_pw_reg.on {
  display: flex;
}
#myinfo_main_infoupdate_list_pw_reg_text.okay {
  color: aquamarine;
}

#myinfo_main_infoupdate_list_confirmpw {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#myinfo_main_infoupdate_list_confirmpw_text {
  width: 150px;
  display: flex;
}
#myinfo_main_infoupdate_list_confirmpw_text_pw {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_infoupdate_list_confirmpw_input {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}
#myinfo_main_infoupdate_list_confirmpw_input_input {
  width: 100%;
  border: none;
  font-size: 18px;
}
#myinfo_main_infoupdate_list_confirmpw_whitespace {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
}

#myinfo_main_infoupdate_list_confirmpw_reg {
  display: none;
}
#myinfo_main_infoupdate_list_confirmpw_reg_text {
  color: #2c3333;
  font-size: 12px;
}
#myinfo_main_infoupdate_list_confirmpw_reg.on {
  display: flex;
}
#myinfo_main_infoupdate_list_confirmpw_reg_text.okay {
  color: aquamarine;
}

#myinfo_main_infoupdate_list_name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#myinfo_main_infoupdate_list_name_text {
  width: 150px;
  display: flex;
}
#myinfo_main_infoupdate_list_name_text_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_infoupdate_list_name_input {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}
#myinfo_main_infoupdate_list_name_input_input {
  border: none;
  width: 100%;
  font-size: 18px;
}
#myinfo_main_infoupdate_list_name_whitespace {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
}
#myinfo_main_infoupdate_list_address {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#myinfo_main_infoupdate_list_address_text {
  width: 150px;
  display: flex;
}
#myinfo_main_infoupdate_list_address_text_address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_infoupdate_list_address_btn {
  border: 2px solid #c2eaec;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex: 1;
  background: transparent;
  font-size: 18px;
  display: flex;
}
#myinfo_main_infoupdate_list_address_btn_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_infoupdate_list_address_whitespace {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
}

#myinfo_main_infoupdate_list_address_result {
  display: none;
}
#myinfo_main_infoupdate_list_address_result_text {
  color: #2c3333;
  font-size: 12px;
  border: 1px solid gainsboro;
  flex: 1;
  padding: 10px;
}
#myinfo_main_infoupdate_list_address_result.on {
  display: flex;
}

#myinfo_main_infoupdate_list_gender {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#myinfo_main_infoupdate_list_gender_text {
  width: 150px;
  display: flex;
}
#myinfo_main_infoupdate_list_gender_text_gender {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_infoupdate_list_gender_radiobox {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
input[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #c2eaec;
}
#myinfo_main_infoupdate_list_address_btn_btn_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_infoupdate_list_gender_whitespace {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
}
#myinfo_main_infoupdate_list_birthday {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#myinfo_main_infoupdate_list_birthday_text {
  width: 150px;
  display: flex;
}
#myinfo_main_infoupdate_list_birthday_text_birthday {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_infoupdate_list_birthday_inputbox {
  border: 1px solid gainsboro;
  width: 340px;
  display: flex;
  padding: 0 10 0 10px;
}
#myinfo_main_infoupdate_list_birthday_inputbox_year {
  border: none;
  text-align: center;
  width: 33%;
  padding: 10 0 10 0px;
}
#myinfo_main_infoupdate_list_birthday_inputbox_month {
  border: none;
  text-align: center;
  width: 33%;
  padding: 10 0 10 0px;
}
#myinfo_main_infoupdate_list_birthday_inputbox_day {
  border: none;
  text-align: center;
  width: 33%;
  padding: 10 0 10 0px;
}
.myinfo_main_infoupdate_list_birthday_inputbox_slash {
  margin: 0 5 0 5px;
  color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_main_infoupdate_list_birthday_whitespace {
  width: 120px;
  padding: 10px;
  margin-left: 10px;
}
#update_btn {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
#update_btn_btn {
  color: white;
  background-color: #c2eaec;
  border-radius: 3px;
  padding: 10 80 10 80;
  border: none;
  font-size: 20px;
}
#myinfo_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
#myinfo_modal.show {
  display: block;
}
.body_onmodal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#myinfo_modal_body {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 450px;
  height: 200px;

  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
}
#myinfo_modal_body_text {
  padding: 40px;
  height: 75%;
  border: 1px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#myinfo_modal_body_exit {
  display: block;
  height: 25%;
  border: 1px;
  background-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid gainsboro;
  font-size: 20px;
  color: #c2eaec;
}
