#myinfo_contents {
  display: flex;
  justify-content: center;
  padding: 50 0 50 0px;
}
#myinfo_contents_center {
  width: 1050px;
  display: flex;
  justify-content: space-between;
}
#myinfo_sidebar {
  width: 20%;
}
#myinfo_sidebar_title {
  margin-bottom: 40px;
}
#myinfo_sidebar_list {
  border: 1px solid gainsboro;
  padding-inline-start: 0px;
  cursor: pointer;
}

#myinfo_sidebar_list > li {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
#myinfo_sidebar_list span {
  color: #999;
}
#myinfo_sidebar_list a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.path1 {
  fill: #999;
}
#myinfo_sidebar_list > li:hover {
  background-color: #c2eaec;
  color: #000;
}

#myinfo_sidebar_list_item_2 {
  border-top: 1px solid gainsboro;
}
#myinfo_sidebar_list_item_3 {
  border-top: 1px solid gainsboro;
}
#myinfo_main {
  width: 75%;
}
#myinfo_main_orderhistory {
  display: none;
}
#myinfo_main_orderhistory.on {
  display: block;
}
#myinfo_main_orderhistory_title {
  display: flex;
  margin-bottom: 20px;
}
#myinfo_main_orderhistory_title span {
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
#myinfo_main_review {
  display: none;
}
#myinfo_main_review.on {
  display: block;
}
#myinfo_main_review_title {
  display: flex;
  margin-bottom: 20px;
  border: 2px solid black;
}
#myinfo_main_review_title span {
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
#myinfo_main_infoupdate {
  display: none;
}
#myinfo_main_infoupdate.on {
  display: block;
}
#myinfo_main_infoupdate_title {
  display: flex;
  margin-bottom: 20px;
}
#myinfo_main_infoupdate_title span {
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
