button {
  cursor: pointer;
}
.body_onmodal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#cart_contents {
  display: flex;
  justify-content: center;
  padding: 50 0 50 0px;
}
#cart_contents_center {
  width: 1050px;
}
#cart_title {
  padding: 30 0 30 0px;
}
#cart_title > h2 {
  text-align: center;
}
#cart_main {
  display: flex;
}
#cart_basket {
  width: 75%;
  padding-right: 20px;
}
#cart_basket_top {
  border-bottom: 1px solid black;
  padding: 0 0 10 10px;
}
#cart_basket_top_all {
  background-color: transparent;
  border: none;
  padding: 0px;
}
#cart_basket_top_delete {
  background-color: transparent;
  border: none;
  padding: 0px;
}
.wall {
  border-right: 1px solid gainsboro;
  padding-left: 20px;
  margin-right: 20px;
}

.cart_basket_bottom:first-child {
  display: none;
}
.cart_basket_bottom_item {
  display: flex;
  justify-content: space-between;
  padding: 10 0 10 0px;
}
.cart_basket_bottom_item_checkBox {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart_basket_bottom_item_imgBox {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart_basket_bottom_item_img {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart_basket_bottom_item_title {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart_basket_bottom_item_amountBox {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart_basket_bottom_item_amountBox2 {
  display: inline-flex;
  border: 1px solid gainsboro;
  border-radius: 3px;
}
.cart_basket_bottom_item_amountMinus {
  width: 28px;
  height: 28px;
  text-align: center;
  border: none;
  background-color: transparent;
}
.cart_basket_bottom_item_amount {
  width: 40px;
  height: 28px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart_basket_bottom_item_amountPlus {
  width: 28px;
  height: 28px;
  text-align: center;
  border: none;
  background-color: transparent;
}
.cart_basket_bottom_item_price {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.cart_basket_bottom_item_delete {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#cart_basket_bottom_none {
  display: none;
  padding: 120 0 120 0px;
  color: gainsboro;
  text-align: center;
}
#cart_basket_bottom_none.on {
  display: block;
}
#cart_order {
  width: 25%;
}
#checklist {
  border: 1px solid gainsboro;
  border-radius: 3px;
}
#checklist_shipping_address {
  padding: 10px;
}
#checklist_shipping_address_address {
  padding: 10px;
}
#checklist_shipping_address_btn {
  width: 100%;
  text-align: center;
  border: 1px solid #a5c9ca;
  background-color: transparent;
  padding: 10px;
  border-radius: 3px;
}

#checklist_amount {
  background-color: #fafafa;
  border-top: 1px solid gainsboro;
  padding: 10px;
}
.checklist_amount_moneylist:last-child {
  border-top: 1px solid gainsboro;
}
.checklist_amount_moneylist {
  display: flex;
  justify-content: space-between;
  padding: 10 0 10 0px;
}
#cart_order_orderbutton {
  margin-top: 10px;
  border: none;
  background-color: #a5c9ca;
  border-radius: 3px;
  color: white;
  padding: 20px;
  width: 100%;
  display: block;
}
#cart_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
#cart_modal.show {
  display: block;
}
body:hover #cart_modal.show {
  overflow: hidden;
}
#cart_modal_body {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 450px;
  height: 200px;

  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
}
#cart_modal_body_text {
  padding: 40px;
  height: 75%;
  border: 1px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cart_modal_body_exit {
  display: block;
  height: 25%;
  border: 1px;
  background-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid gainsboro;
  font-size: 20px;
  color: #c2eaec;
}
