html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.detail {
  width: 1050px;
  margin: 0 auto;
}

#item-head {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#item {
  width: 1050px;
}

.item-inner {
  width: 1050px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#item ul {
  width: 1029px;
  display: flex;
  flex-wrap: wrap;
  width: 166px;
  justify-content: flex-start;
  align-items: center;
}

#item ul li {
  display: flex;
  line-height: 2;
  color: rgb(115, 115, 115);
  cursor: pointer;
}

#item ul li:hover {
  color: rgb(109, 174, 182);
  text-shadow: 1px 1px 1px rgb(223, 223, 223);
}

#filter {
  width: 220px;
  border: 1px solid gray;
  padding: 10px;
  position: absolute;
}

#filter p {
  padding: 10 0 20 0px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

#list {
  position: relative;
  left: 240px;
}

#brand {
  line-height: 2;
}

#brand-price li {
  display: flex;
  line-height: 2;
}

#brand-price li img {
  padding-right: 20px;
  opacity: 0.3;
}

#check li {
  font-size: 15px;
  line-height: 2.2;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.more a {
  font-size: 14px;
  color: rgb(171, 171, 171);
  margin: 20 0px;
}

.more img {
  width: 15px;
  padding-left: 10px;
  margin: 20 0px;
}

.products {
  display: flex;
  margin-top: 30px;
  min-height: 700px;
}

.list-header ul:last-child {
  /* width: 60%; */
  display: flex;
}

.list-header {
  width: 808px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.list-header li {
  width: 60px;
  font-size: 15px;
}

.list-header ul:last-child li {
  width: 80px;
  font-size: 13px;
  text-align: center;
  border-right: 1px solid rgb(171, 171, 171);
  height: 16px;
}

.list-header ul:last-child li:first-child {
  width: 70px;
  display: flex;
  flex-wrap: wrap;
}

<<<<<<< HEAD
.list-header ul:last-child li {
  width: 80px;
=======
.list-header ul:last-child li:nth-child(2) {
  width: 60px;
}

.list-header ul:last-child li:nth-child(3) {
  width: 60px;
}

.list-header ul:last-child li:nth-child(4) {
  width: 58px;
>>>>>>> d304a68 (make general category)
}

.list-header ul:last-child li:first-child img {
  width: 16px;
  display: flex;
  padding-left: 8px;
  opacity: 0.5;
}

.list-header ul:last-child li:first-child a {
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
=======
/* #item-list {
  width: 800px;
}

#item-list ul {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

#item-list ul li img {
  width: 249px;
  height: 320px;
}

#item-inner ul li > span {
  width: 50px;
  position: absolute;
  top: 780px;
  background-color: rgb(137, 234, 201, 0.5);
  height: 50px;
  border-radius: 100%;
  left: 59%;
  top: 1050px;
}

#item-inner ul li span > img {
  height: 30px;
  width: 30px;
  z-index: 1;
} */

>>>>>>> d304a68 (make general category)
#item-list {
  width: 835px;
  display: flex;
  justify-content: center;
  margin: 0;
}

#item-inner2 {
  display: flex;
  justify-content: space-between;
  width: 837px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 250px;
}

.item img {
  width: 250px;
}

<<<<<<< HEAD
=======
.item p {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

>>>>>>> d304a68 (make general category)
.item > span img {
  width: 30px;
  position: relative;
  top: -116px;
  left: 90px;
}
#check img {
  opacity: 0.3;
  border-radius: 50%;
}
#check button {
  border: none;
  background-color: transparent;
  padding-left: 30px;
}
#productNone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 250px;
}
<<<<<<< HEAD

/* subslide css */
.goodsItemDiv {
  width: 250px;
  height: 320px;
  margin: 0 30 20 0;
  overflow: hidden;
}
.goodsImg {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 320px;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.goodsImg:hover {
  transform: scale(1.1);
}
.goodsCartBtn {
  position: absolute;
  background-image: url("/imges/cart3.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(109, 174, 182, 0.5);
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  top: 290px;
  left: 180px;
}
.goodsTxt {
  display: block;
  line-height: 1.5;
  margin-top: 8px;
}
.goodsInfoTxt {
  padding-bottom: 10px;
}
.nameTxt {
  width: 240px;
  cursor: pointer;
}
.priceTxt {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
}
.deliveryTxt {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
}
=======
>>>>>>> d304a68 (make general category)
